[role='alert'] {
  background: rgba(0, 0, 0, 0.15);
  border: 1px dashed rgba(0, 0, 0, 0.15);
  font-size: 95%;
  padding: 5px 10px;
  &[aria-live='assertive'] {
    background: rgba(255, 0, 0, 0.15);
  }
  &[aria-live='off'] {
    background: rgba(0, 0, 255, 0.15);
  }
  &[aria-live='polite'] {
    background: rgba(0, 255, 0, 0.15);
  }
}